*{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #C8A2C8 ;
}

.main{
    color: #ffffc5;
}

.main h1{
    text-align: center;
    font-size: 100px;
}

.main h2{
    text-align: center;
    color: #ffffc5;
  
}

#spongeVDay{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    display: block;
    height: 40%;
}
